<% layout ('partials/boiletplate.ejs') %>


    <h1 class='mb-3 display-5 text-center'>All campgrounds</h1>
    <% for (let camp of foundCampgrounds) { %>
        <div class="card mb-2">
            <div class="row">
                <div class="col-4">
                    <% if (camp.images[0]) { %>
                        <img src="<%=camp.images[0].url%>" alt="" class="card-img">
                        <% } %>
                </div>
                <div class="col-8 card-body">
                    <h5 class='card-title'>
                        <%=camp.title%>
                    </h5>
                    <p class="card-text">
                        <%=camp.description%>
                    </p>
                    <p class="card-text text-secondary">
                        <%=camp.location%>
                    </p>
                    <a href="/campgrounds/<%=camp.id%>" class="btn btn-primary">View <%=camp.title%></a>
                </div>
            </div>
        </div>

        <% } %>