<% layout ('partials/boiletplate.ejs') %>

    <div class='row justify-content-center'>
        <div class='col-md-6'>
            <h1 class='text-center display-5'>Edit <%=camp.title%>
            </h1>
            <form action='/campgrounds/<%=camp.id%>?_method=PUT' method='POST' enctype='multipart/form-data' novalidate
                class='validation-required'>
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" id="title" aria-describedby="emailHelp" placeholder="Title"
                        name='title' required autocomplete='off' value='<%=camp.title%>'>
                    <div class="invalid-feedback">
                        Please include a title
                    </div>
                </div>
                <div class="form-group">
                    <label for="location">Location</label>
                    <input type="text" class="form-control" id="location" name='location' placeholder="Location"
                        required value='<%=camp.location%>'>
                    <div class="invalid-feedback">
                        Please include the location
                    </div>
                </div>
                <div class="form-group">
                    <label for="image">Add images</label>
                    <input class='form-control' type="file" multiple id="image" name='image'>
                    <div class="invalid-feedback">
                        Please include an image of the campground
                    </div>
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea class='form-control' name="description" id="description" required
                        placeholder='Description' cols="30" rows="5"><%=camp.description%></textarea>
                    <div class="invalid-feedback">
                        Please include a description
                    </div>
                </div>
                <div class="form-group">
                    <label for="price">Price</label>
                    <input type="text" class="form-control" id="price" name='price' placeholder="Price"
                        value='<%=camp.price%>' required>
                    <div class="invalid-feedback">
                        Please include the price for a night
                    </div>
                </div>
                <div class='mb-3 text-center'>
                    <% camp.images.forEach((img,i)=> { %>
                        <img class='img-thumbnail' src="<%=img.thumbnail%>" alt="">
                        <div class="form-check-inline">
                            <input type="checkbox" name="deleteImages[]" id="image-<%=i%>" value='<%=img.filename%>'>
                        </div>
                        <label for="image-<%=i%>">Delete</label>
                        <% })%>
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="col-2">
                        <button type="submit" class="mt-2 btn btn-primary">Submit</button>
                    </div>
                    <div class="col-2">
                        <button class='mt-2 btn btn-secondary'><a href='/campgrounds/<%=camp.id%>'>Back</a></button>
                    </div>
                </div>
            </form>
        </div>
    </div>